*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}
button.naranja:hover{
    opacity: 0.5;
}
header nav ul li a:hover{
    opacity: 0.6;
    color: red;
    font-weight: bold;
}
button.naranja{
    background-color: #F3603B;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 14px 20px -12px rgba(0,0,0,0.55);
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    outline: none;
    padding: 12.5px 30.5px;
}
header{
    position: sticky;
    top: 0px;
    z-index: 100;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    margin-bottom: 20px;
}
header div img{
    height: 16px;    
    width: 16px;
}
header div h1{
    font-size: 2rem;
    display: inline-block;
}
header nav ul{
    align-items: center;
    display: flex;
    list-style-type: none;
}
header nav ul li{
    color: #242E52;
    margin-left: 20px;
}
header nav ul li a{
    color:#242E52 ;
    font-weight: 500;
    text-decoration: none;
}
header div h1 a{
    color: #242E52;
    font-weight: 700;
    text-decoration: none;
}
main section article{
    width: 480px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main section{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    width: 100vw;
}
main section:nth-of-type(1) article:nth-of-type(1){
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
main section:nth-of-type(1) article:nth-of-type(1) h3{
    color:#242E52 ;
    font-size: 58px;
    font-weight: 900;
    padding-top: 20px;
}
main section:nth-of-type(1) article:nth-of-type(1) p{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-right: 100px;
    padding-bottom: 28px;
    padding-top: 28px;
}
main section:nth-of-type(1) article:nth-of-type(2){
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main section article img{
    height: 210px;   
    width: 220px;
}
main section:nth-of-type(1) article:nth-of-type(2) div{
    height: 220px;
    width: 220px;
    padding: 2px;
    border: solid 2px white;
}
main section:nth-of-type(1) article:nth-of-type(2) div span{
    display: inline-block;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(1){
    color: #343A40;
    font-size: 1.9rem;
    font-weight: 550;
    padding: 54px 74px 24px 19px;
    position: relative;
    background-color: #FAFAFA;
    border-radius: 7px;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(2){
    background-color:#F3603B ;
    border-radius: 5px;
    color:  #FFFFFF;
    font-size: 1rem;
    padding: 42px 30px 17px 16px;
    position: relative;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(3){
    border-radius: 5px;
    color:  #343A40;
    font-size: 1rem;
    font-weight: 600;
    padding: 42px 30px 17px 16px;
    position: relative;
    background-color: #FAFAFA;
    border-radius: 7px;
    border: solid 2px white;
}
main section article h2{
    color: #242E52;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}
main section:nth-of-type(2) article:nth-of-type(1) p{
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-top: 36px;
}
main section article ol{
    margin-top: 45px;
    list-style-type: none;
    list-style: none;
}
main section article ol li{
    counter-increment: cuentali;
    margin-left: 16px;
}
main section article ol li p:nth-of-type(1):before{
    background: #F3603B;
    border-radius: 25px;
    color: white;
    content: "0" counter(cuentali);
    display: inline-block;
    font-size: 1rem;
    margin-right: 20px;
    padding: 10px 25px;
    position: relative;
    text-align: center;
}
main section:nth-of-type(2) article:nth-of-type(2) ol li p:nth-of-type(1){
    color: #242E52 ;
    margin-left: -45px;
    font-size: 1rem;
    font-weight: bold;
}
main section:nth-of-type(2) article:nth-of-type(2) ol li p{
    color: #B3B2B7;
    line-height: 1.8rem;
    margin-left: 45px;
    padding-top: 18px;
}
main h2{
    color: #242E52;
    font-size: 2.5rem;
    margin-top: 30px;
    text-align: center;
}
main section:nth-of-type(3) ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}
main section:nth-of-type(3) ul li{
    padding: 0;
    margin: 0;
    list-style: none;
} 
main section:nth-of-type(3) ul:nth-of-type(2){
    display: none;
}
main section:nth-of-type(3) article{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35px;
    width: 450px;
    background-color: #FAFAFA;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
main section:nth-of-type(3) article img{
    height: 70px;
    width: 70px;
    margin-top: -35px;
    border-radius: 50%;
    border: solid 4px white;
}
main section:nth-of-type(3) article p{
    color: #B9B9C1;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: center;
}
main section:nth-of-type(3) article span{
    color:#242E52 ;
    font-weight: 700;
    padding: 21px;
}
main button.naranja{
    margin-top: 45px;
}
footer section:nth-of-type(1){
    align-items: center;
    background-color:#F3603B ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 180px;
}
footer button.naranja{
    background-color: white;
    color: #F3603B;
}
footer section:nth-of-type(1) span{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 64px;
    padding-top: 64px;
    width: 550px;
}
footer section:nth-of-type(2){
    align-items: top;
    background-color: #1E1E26;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 56px 80px 0px 80px ;
}
footer section:nth-of-type(2) div div:nth-of-type(1) img{
    height: 16px;    
    width:16px;
}
footer section:nth-of-type(2) div div:nth-of-type(1) a{
    color: white;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}
footer section:nth-of-type(2) div div:nth-of-type(2){
    align-items: space-evenly;
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
}
footer section:nth-of-type(2) div div:nth-of-type(2) a{
    color: white;
    margin-right: 12px;
    font-size: 1.2rem;
}
footer section:nth-of-type(2) div div:nth-of-type(2) a:hover{
    color: #F3603B;
}
footer section:nth-of-type(2) nav{
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
}
footer section:nth-of-type(2) nav ul{
    list-style-type: none;
}
footer section:nth-of-type(2) nav ul:nth-of-type(1){
    list-style-type: none;
    margin-right: 50px;
}
footer section:nth-of-type(2) nav ul:nth-of-type(2){
    list-style-type: none;
    margin-left: 50px;
}
footer section:nth-of-type(2) nav ul li{
    margin-bottom: 12px;
}
footer section:nth-of-type(2) nav ul li a{
    color:white ;
    font-weight: 500;
    text-decoration: none;
}
footer section:nth-of-type(2) nav ul li a:hover{
    color: #F3603B;
    font-weight: bold;
}
footer section:nth-of-type(2) form input{
    border:none;
    border-radius: 25px;
    outline: none;
    padding: 12.5px 48px 12.5px 10px;
}
footer section:nth-of-type(2) button.naranja{
    background-color: #F3603B;
    color: white;
    margin-left: 10px;
}
footer p{
    background-color: #1E1E26;
    color: #8C8C94;
    padding-bottom: 53px;
    padding-right: 165px;
    text-align: right;
}
@media (max-width: 460px) {
header{
    padding-bottom: 20px;
}
header nav{
    display: none;
} 
header button{
    display: none;
}
header div::after{
    content: url("../img/icon-hamburger.svg");
    margin-left: 75px;
}
main section{
    padding: 40px 0px 40px 0px;
    width: 100%;
}
main section:nth-of-type(1){
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
main section:nth-of-type(1) article{
    width: 350px;
}
main section:nth-of-type(1) article:nth-of-type(1){
    align-items: center;
}
main section:nth-of-type(1) article:nth-of-type(1) h3{
    font-size: 2rem;
    padding-top: 30px;
    text-align: center;
} 
main section:nth-of-type(1) article:nth-of-type(1) p{
    color: #B9B9C1;
    font-size: .8rem;
    font-weight: 500;
    margin-right: 0px;
    padding: 20px 45px;
    text-align: justify;
}
main section:nth-of-type(1) article:nth-of-type(1) button.naranja{
    margin-top: 15px;    
}
main section:nth-of-type(1) article:nth-of-type(2) div{
    width: 160px;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
}
main section:nth-of-type(1) article:nth-of-type(2){
    align-items:center;
    justify-content: space-evenly;
}
main section:nth-of-type(1) article:nth-of-type(2) img{
    height: 105px;
    width: 110px;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(1){
    color: #343A40;
    font-size: .95rem;
    font-weight: 550;
    padding: 27px 45px 12px 9px;
    position: relative;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(2){
    background-color:#F3603B ;
    border-radius: 5px;
    color:  #FFFFFF;
    font-size: .5rem;
    padding: 24px 15px 8.5px 9px;
    position: relative;
}
main section:nth-of-type(1) article:nth-of-type(2) div span:nth-of-type(3){
    border-radius: 5px;
    color:  #343A40;
    font-size: .5rem;
    font-weight: 600;
    padding: 24px 18px 8.5px 9px;
    position: relative;
}
main section:nth-of-type(2) article:nth-of-type(1) h2{
    font-size: 1.5rem;
    padding: 0px 45px;
    text-align: center;
}
main section:nth-of-type(2) article:nth-of-type(1) p{
    color: #B9B9C1;
    font-size: .8rem;
    font-weight: 500;
    padding: 20px 40px;
    text-align: justify;
}
main section:nth-of-type(2) article:nth-of-type(2) ol{
    margin-top: 0px;
}
main section:nth-of-type(2) article:nth-of-type(2) ol li p{
    color: #B3B2B7;
    margin-left: -45px;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: .8rem;
    line-height: 1.3rem;
}
main section:nth-of-type(2) article:nth-of-type(2) ol li p:nth-of-type(1){
    background-color: rgba(228, 118, 118, 0.55);
    padding: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: .9rem;
    margin-left: -50px;
}
main section:nth-of-type(3){
    margin-top: 0px;
    margin: auto;
    width: 100%;
    padding: 30px;
} 
main section:nth-of-type(3) ul:nth-of-type(1){
    position: relative;
    width: 100%;
    height: 300px;
}
main section:nth-of-type(3) ul:nth-of-type(1) li{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    transition: opacity 1s;
}
main section:nth-of-type(3) ul:nth-of-type(2){
    display:unset;
}
main section:nth-of-type(3) ul:nth-of-type(1) li article{
    font-size: .85rem;
    line-height: 1.5rem;
    padding: 0px;
    width: 100%;
} 
main section:nth-of-type(3) ul:nth-of-type(1) li:first-child {
      opacity: 1;
}  
main section:nth-of-type(3) ul:nth-of-type(1) li:target {
      opacity: 1;
}
main section:nth-of-type(3) ul:nth-of-type(2){
    text-align: center;
    padding: 0px;
} 
main section:nth-of-type(3) ul:nth-of-type(2) li{
    display: inline-block;
    text-align: center;
}
main section:nth-of-type(3) ul:nth-of-type(2) li a i{
    display: inline-block;
    color: black;
    text-decoration: none;
    border-radius: 100%;
}
main section:nth-of-type(3) ul:nth-of-type(2) li a i:hover{
    color: #F3603B;
    background-color: #F3603B;
}

main h2{
    font-size: 2rem;
    margin-top: 0px;
}
footer section:nth-of-type(1){
    margin-top: 35px;
    padding: 30px 35px 120px 35px;
    text-align: center;
}
footer section:nth-of-type(1) span{
    padding-bottom: 35px;
}
footer section:nth-of-type(2){
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 40px 0px 10px 0px;
}
footer section:nth-of-type(2) nav ul{
    padding: 0px;
}
footer section:nth-of-type(2) nav{
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    max-width: 375px;
}
footer section:nth-of-type(2) div.uno{
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center ;
    margin: 0px;
    padding: 0px 0px 35px 0px;
}
footer section:nth-of-type(2) div.uno div.redes a{
    margin: 0px;
    padding: 0px 20px;
    transform: scale(130%);
}
footer section:nth-of-type(2) div.uno div.redes{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 35px 0px 35px 0px;
    width: 100%;
}
footer p{
    padding: 0px 0px 20px;
    text-align: center;
}
}